<div ng-init="getAllModuleModel()">
	<div class="form-group">
		<h2 class="font-center">Modules</h2>
		<div class="form-group">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Module Name</th>
						<th>Testing Result</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mm in module_model">
						<td>{{mm.module_name}}</td>
						<td>
							<i class="fa fa-question" aria-hidden="true" ng-show="mm.checked==null"></i>
							<i class="fa fa-times" aria-hidden="true" ng-show="mm.checked===false"></i>
							<i class="fa fa-check" aria-hidden="true" ng-show="mm.checked===true"></i>
						</td>
						<td>
							<button class="btn btn-primary" onClick="this.disabled=true" ng-click="testModule(mm.module_name, mm)">Test</button>
							<button class="btn btn-primary" onClick="this.disabled=true" ng-click="deleteModuleModel(mm._id, mm.module_name)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<a href="/admin/mg/"><button class="btn btn-primary">Add Module</button></a>
		</div>
	</div>

</div>