<div class="panel panel-default">
	<div class="panel-heading">
		<strong>1/20/2017</strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Account</th>
						<th>Type</th>
						<th>Amount</th>
						<th>Balance</th>
						<th>AB</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="activity in activities">
						<td><button class="btn-link" ng-click="">{{activity.account}}</button></td>
						<td>{{activity.type}}</td>
						<td>${{activity.amount}}</td>
						<td>${{activity.amount}}</td>
						<td>$</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li class="list-group-item text-right">
			<strong>Total Avaliable Balance: $1000</strong>
		</li>
	</ul>
</div>