<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-controller="myController as myCtrl">
    <h1><%= title %></h1>
    <h1>{{myCtrl.test}}</h1>
  </body>
  <footer>

  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="javascripts/app.js"></script>
</html>
