<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body ng-controller="myController as myCtrl">
    <h1><%= title %></h1>
    <h1>{{myCtrl.test}}</h1>



    <!--------------- Javascript ------------------------>
    <script src="javascripts/jquery-1.12.3.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
  <footer>

  </footer>
</html>
