[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.font-center {
	text-align: center;
}

.font-center-bold{
	text-align: center;
	font-weight: bold;
}

@media only screen and (max-device-width: 480px) {
	body {
		padding: 20px;
	}
	div.container {
		margin: 0;
		width: 100%;
		padding: 0;
	}
	p pre {
		font-size: 11px;
	}
}